<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff">
    <meta charset="UTF-8"/>
    <title>Home Page</title>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<div style="text-align: center; margin-bottom: 15px;">
    <a href="/add" class="btn btn-primary btn-lg" role="button">Add Message</a>
</div>

<div class="panel panel-default" th:each="message : ${messages}">
    <div class="panel-heading" th:text="${message.id}"></div>
    <div class="panel-body" th:text="${message.content}"></div>
    <div style="margin: 15px;"><a class="btn btn-primary btn-sm" th:href="@{/detail/{id}(id=${message.id})}">View</a></div>
    <div class="panel-footer">
        <span th:text="${message.sentBy}"></span>
        <span style="float: right;" th:text="${message.postDate}"></span>
    </div>
</div>

<nav th:replace="base :: footer"></nav>

</body>
</html>